button {
  --tw-bg-opacity: 1;
  background-color: rgb(139 92 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding: 0.5rem /* 8px */;
  margin-left: 1rem /* 16px */;
  margin-right: 1rem /* 16px */;
  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  font-weight: 700;
  width: 10%;
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  cursor: pointer;
}

input {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
  width: 25%;
  padding: 0.5rem /* 8px */;
}

h1 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem;
  font-weight: 700;
}

.container {
  --tw-bg-opacity: 1;
  background-color: rgb(196 181 253 / var(--tw-bg-opacity));
  width: 50%;
  margin-top: 1rem /* 16px */;
  margin-bottom: 1rem /* 16px */;
  height: 24rem /* 384px */;
  margin-left: 25%;
  padding-bottom: 1rem /* 16px */;
  overflow-y: scroll;
}

.list-container {
  display: flex;
  margin-left: 2rem /* 32px */;
  margin-right: 2rem /* 32px */;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  margin-left: 2rem /* 32px */;
  padding-top: 12px /* 24px */;
  padding-bottom: 12px /* 24px */;
  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  align-items: center;
  height: 70px;
}

ul {
  padding-left: 0px;
}

li {
  width: 85%;
  list-style-type: none;
}

.list-striked {
  text-decoration-line: line-through;
}
